@import 'mixins/button.scss';

.logo {
    width: 7rem;
    height: 7rem;
}


.links {
    color: white;
    display: flex;
    gap: 5rem;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    > a {
        cursor: pointer;
    }
    z-index: 20;
}

.button {
    @include primary-button;
}